NET "RST" LOC = "R13" | IOSTANDARD = LVCMOS33 | PULLDOWN ;

NET "CLK" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
# Define clock period for 50 MHz oscillator
NET "CLK" PERIOD = 20.0ns HIGH 40%;


NET "RGB<2>" LOC = "C8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "RGB<1>" LOC = "D6" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "RGB<0>" LOC = "C9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET "HSYNC" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VSYNC" LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;



NET "BTN_E" LOC = "T14" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_E" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN_W" LOC = "T16" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_W" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN_N" LOC = "U15" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_N" CLOCK_DEDICATED_ROUTE = FALSE;
NET "BTN_S" LOC = "T15" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "BTN_S" CLOCK_DEDICATED_ROUTE = FALSE;
